node_modules/
.expo/
dist/
npm-debug.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/

# macOS
.DS_Store

# Temporary files created by Metro to check the health of the file watcher
.metro-health-check*

../../../../.BurpSuite/
../../../../.CFUserTextEncoding
../../../../.DS_Store
../../../../.IdentityService/
../../../../.aspnet/
../../../../.bash_history
../../../../.boto
../../../../.cache/
../../../../.config/
../../../../.cookiecutter_replay/
../../../../.cookiecutters/
../../../../.cups/
../../../../.docker/
../../../../.dotnet/
../../../../.eclipse/
../../../../.expo/
../../../../.gitconfig
../../../../.gitignore
../../../../.gsutil/
../../../../.idlerc/
../../../../.lesshst
../../../../.local/
../../../../.mono/
../../../../.ms_eclipsetemurinjdk_config
../../../../.ms_openjdk_config
../../../../.node_repl_history
../../../../.npm/
../../../../.nuget/
../../../../.oh-my-zsh/
../../../../.p10k.zsh
../../../../.p2/
../../../../.pgadmin/
../../../../.psql_history
../../../../.python_history
../../../../.ssh/
../../../../.templateengine/
../../../../.viminfo
../../../../.vscode/
../../../../.vsdbg/
../../../../.yarnrc
"../../../../.zcompdump-Jaedyn\342\200\231s MacBook Air-5.8.1"
"../../../../.zcompdump-Jaedyn\342\200\231s MacBook Air-5.9"
../../../../.zprofile
../../../../.zprofile.pysave
../../../../.zsh_history
../../../../.zsh_sessions/
../../../../.zshrc
../../../../.zshrc.backup
../../../../.zshrc.omz-uninstalled-2022-08-11_13-44-57
../../../../.zshrc.omz-uninstalled-2022-08-12_20-06-31
../../../../.zshrc.omz-uninstalled-2022-08-12_20-56-05
../../../../.zshrc.omz-uninstalled-2022-08-12_21-18-33
../../../../.zshrc.omz-uninstalled-2022-08-12_21-45-44
../../../../.zshrc.omz-uninstalled-2022-08-12_22-30-49
../../../../Applications/
../../../../AwesomeProject/
../../../../Desktop/
../../../../Documents/
../../../../Downloads/
../../../../Git-review/
../../../../Library/
../../../../Movies/
../../../../Music/
../../../../Pictures/
../../../../Projects/
../../../../Public/
../../../../Transition OverWatch/
../../../.DS_Store
../../../seqtek/
../../poolsbysnapp/
../../../../code
../../../../curl
../../../../eclipse-workspace/
../../../../eclipse/
../../../../git_repositories/
../../../../github-classroom/
../../../../package-lock.json
../../../../package.json
../../../../powerlevel10k/

